<form name="Entry">
    <fieldset>
        <legend>New Entry</legend>
        <label for="name">Name:</label>
        <input type="text" name="Ename" id="Ename" required>
        <br>
        <br>
        <label for="reps">Reps:</label>
        <input type="number" name="Ereps" id="Ereps" required>
        <br>
        <br>
        <label for="weight">Weight:</label>
        <input type="number" name="Eweight" id="Eweight" required>
        <br>
        <br>
        <label for="date">Date:</label>
        <input type="date" name="Edate" id="Edate" required>
        <br>
        <br>
        <label>Unit:
            <br>
            <select name="Eunit" id="Eunit">
                <option value="0">kg</option>
                <option value="1">lbs</option>
            </select>
            <br>
        </label>
        <br><br>
        <button name="New Entry" id="New Entry">New Entry</button>
    </fieldset>
</form>
<div>
</div>
<script src="/client.js"></script>